<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Game-Action</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="jumbotron">
                        <h1>DragonWood</h1>
                    </div>
                    <!-- jumbotron -->
                </div>
            </div>
            <!-- row title -->
            <div class="row">
                <div class="col-sm-9">
                    <div class="jumbotron">
                        <p>
                            {{ gameManager.getPlayerOne.getName }}
                        </p>
                        <p>
                            {% for card in gameManager.getPlayerOne.getHand  %}
                                {{ card.getNumber }}
                                {{ card.getColor }}
                            {% endfor %}
                        </p>


                    </div>
                </div>
                <!-- col -->
                <div class="col-sm-3">
                    <div class="jumbotron">
                        <p>
                            DiceRoll animation

                        </p>
                        <form action="/action" method="post">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success" name="button">Roll the Dice</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-sm-9">
                    <div class="jumbotron">
                        <p>
                            {{ gameManager.getPlayerTwo.getName }}
                        </p>
                        <p>
                            {% for card in gameManager.getPlayerTwo.getHand  %}
                                {{ card.getNumber }}
                                {{ card.getColor }}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <!-- col -->
                <div class="col-sm-3">
                    <div class="jumbotron">
                        <p>
                            Draw Card
                        </p>
                        <div class="form-group">

                        </div>
                        <form class="" action="/action" method="post">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success" name="button">Draw a Card</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-sm-9">
                    <div class="jumbotron">
                        <p>
                            Landscape
                        </p>
                        <p>
                            {% for card in gameManager.getLandscape %}
                                <div class="col-sm-3">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h2 class="panel-title"> {{ card.getName }}</h2>
                                        </div>
                                        <div class="panel-body">
                                            <p>
                                                Strike: {{ card.getStrikeReq }} <br>
                                                Stomp: {{ card.getStompReq }} <br>
                                                Shout: {{ card.getShoutReq }} <br>
                                            </p>
                                            <h3 class="text-center">Value: {{ card.getValue }}</h3>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <!-- col -->
                <div class="col-sm-3">
                    <div class="jumbotron">
                        <p>
                            tallyScore
                        </p>
                    </div>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->


    </body>
</html>
